site_name: Cours DevOps et Linux
theme:
  name: material
  icon: 
    logo: material/cube-scan
  palette:
      # Palette toggle for light mode
    - scheme: default
      primary: black
      toggle:
        icon: material/toggle-switch 
        name: Switch to dark mode
      # Palette toggle for dark mode
    - scheme: slate
      primary: black
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode

  features:
    - content.tooltips
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
    - navigation.tabs
    - navigation.prune
    - navigation.indexes
    - navigation.top
    - navigation.path
    - navigation.sections

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - footnotes
  - md_in_html
  - def_list
  - tables
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js


nav:
  # - Home: 'index.md'
  - Linux:
      - 'linux/index.md'
      - Linux - serveur dedié:
        - SSH: 'linux/linux/serveur-dedié.md/ssh.md'
        - Pare feu: 'linux/linux/serveur-dedié.md/pare-feu.md'
        - Services: 'linux/linux/serveur-dedié.md/services.md'
        - Rsyslog: 'linux/linux/serveur-dedié.md/rsyslog.md'
        - Analyse des logs: 'linux/linux/serveur-dedié.md/logs.md'
        - Surveillance: 'linux/linux/serveur-dedié.md/surveillance.md'
        - Sauvegardes: 'linux/linux/serveur-dedié.md/sauvegardes.md'
  - Docker:
      - 'docker/index.md'
      - Docker - introduction:
        - Introduction: 'docker/cours/installation.md'